html,body
{ 
    background: radial-gradient(#181818 15%,#000000 85%);
    color:whitesmoke;
    overflow:hidden;
    height:100vh;
}

#logo {
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    width:40%;
}

.navbar, .social-nav{
    background-color: transparent;
}



@media only screen and (max-width:1024px){
    #logo{
        width:60%;
    }
}