html,body
{ 
    background: radial-gradient(#404040 15%,#121212 85%);
    color:whitesmoke;
    overflow-y:hidden;
    height:100vh;
}

#logo {
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    width:40%;
}

.navbar, .social-nav{
    background-color: transparent;
}



@media only screen and (max-width:1024px){
    #logo{
        width:60%;
    }
}

@media only screen and (max-width:767px){

    body{
        background: black;
    }
}