
  h1{
    padding-top:1rem;
    text-align: center;
  }

  .body{
    margin-top: 40px;
}
  main{
    height:auto;
    position: relative;
    display:grid;
    grid-template-columns: repeat(auto-fit,23%);
    grid-auto-rows:45vh;
    grid-gap: 1%; 
  }
  main img{
    width:100%;
    border-radius: 1rem;
    border-style: solid;
    border-color: darkorange;
  }
  .scratch{
    width:100%;
    height: 100%;
    border-radius: 1rem;
    border-style: solid;
    border-color: darkorange;
  }
  #scratchGame{
    width:99.9%;
    height:99.9%;
    border-radius: 1rem ;
  }
  
  main h4{
    text-align:center;
  }
  main div{
      align-items: center;
  }
  .description{
    padding-right:2%;
    padding-top:1%;
    background-color: #323232;
    border-radius: 2%;
  }
  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: darkorange;
  }
  /*call to action to qualifications pages*/
  #callToQualifications{
    position: absolute;
    width:20%;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    z-index:2;
    margin-bottom: -25%;
  }
  @media only screen and (max-width: 2100px){
    #callToQualifications{
      margin-bottom: -30%;
    }  
  }
  @media only screen and (max-width: 1800px){
    #callToQualifications{
      margin-bottom: -35%;
    }  
  }
  @media only screen and (max-width: 1500px){
    #callToQualifications{
      margin-bottom: -40%;
    }  
  }
  @media only screen and (max-width: 1350px){
    #callToQualifications{
      margin-bottom: -45%;
    }  
  }
  @media only screen and (max-width: 1100px){
    #callToQualifications{
      margin-bottom: -50%;
    }  
  }
  @media only screen and (max-width: 1024px){
    main{
      grid-template-columns: repeat(auto-fit,48%);
      grid-auto-rows: auto;
      margin-bottom: 10%;
    }
    #callToQualifications{
      width:60%;  
      position: relative;
      margin-bottom: 5%;
    }
    .scratchProject{
      display:none; 
    }
  }
  @media (max-width: 768px){
    main{
      position: relative;
      height:100%;
      margin-bottom:15%;
      grid-template-columns: repeat(auto-fit,98%);
    }
    #callToQualifications{
      width:80%;
      padding-bottom: 5%;
      margin-bottom: -40%;
    }

  }
@media (max-width:770px){
  #callToQualifications{
    margin-bottom: -55%;  
  }
}
@media (max-width:540px){
  #callToQualifications{
    margin-bottom: -100%;
  }
}

@media only screen and (max-width: 420px){
    
  #callToQualifications{
    margin-bottom: -150%;
  }

}

  @media only screen and (max-width: 375px){
    
    #callToQualifications{
      margin-bottom: -170%;
    }

  }

  @media only screen and (max-width: 420px) and (max-height:640px){
    
    #callToQualifications{
      margin-bottom: -180%;
    }

  }
  
  @media only screen and (max-width: 420px) and (max-height:570px){
    
    #callToQualifications{
      margin-bottom: -225%;
    }

  }
  @media only screen and (max-width:280px){
    #callToQualifications{
      margin-bottom: -300%;
    }
  }