
/*iconify icons (HR LC Resume)*/
.codeLink {
    display:block;
    text-align: center;
    text-decoration: none;
    color:whitesmoke;
}

.iconify{
    width:100%;
    height:auto;
}
.bottom .iconify{
    width:50%;
}

.mobile img{
    width:100%;
}

.mobile{
    width:95%;
    margin-top:10%;
    padding:1%;   
}
.mobile h1{
    font-size: x-large;
}
/*grid areas*/
h1{
    grid-area:header;
}

.image{
    grid-area: image;
}
.left{
    grid-area:left;
}
.right{
    grid-area:right;
}
.bottom{
    grid-area:bottom;
}
.grid-1, .grid-2, .grid-3{
    background-color:#181818;
    color: whitesmoke;
    display:grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-columns:1fr;
    grid-template-rows: auto;
}
/*mobile devices smaller than 600px*/

.grid-1{
    grid-template-areas: 
    "header"
    "image"
    "left"
    "right";
}
.grid-2{
    grid-template-areas: 
    "header"
    "left"
    "right";
}
.grid-3{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "left right"
    "bottom bottom";
}

@media only screen and (min-width:769px){
    .mobile{
        margin-top:5%;
    }
    .mobile h1{
        font-size:xx-large;
    }
    .grid-1, .grid-2{
        align-items: start;
    }
    .grid-1{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "image image"
        "left right";
    }
    .grid-2{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "left right";
    }

}

@media only screen and (min-width:1025px){
    .mobile{
        display:none
    }
    
    .navbar, .social-nav{
        background-color: transparent;
    }
    
    #fullPage p,#fullPage ul{
        padding-left:5%;
        padding-right:5%;
        bottom: 1%;
    }
    #fullPage{
        display:block;
    }

    .content {
    opacity:0;
    }
    .left{
        grid-area:left;
    }
    .right{
        grid-area:right;
    }
    .bottom{
        grid-area:bottom;
    }
    .fullsize {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -5;
    }

    .grid-container, .grid-container-2 {
        height:100%;
        width:100%;
        background-color: rgba(18,18,18,.8);
        color:whitesmoke;
        display:grid;
        grid-template-rows: .5fr 1fr 9fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        ". ."
        "header header"
        "left right";
        justify-items: center;
        align-items: center;
    }
    .grid-container-2 {
        height:100%;
        width:100%;
        background-color: rgba(18,18,18,.8);
        color:whitesmoke;
        display:grid;
        grid-template-rows: 1fr 1fr 5fr 5fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        ". ."
        "header header "
        "left right"
        "bottom bottom";
        justify-items: center;
        align-items: center;
    }



    .label{
        font-size:2rem;
        padding:0;
    }

    .codeLink:hover .label {
        transition: all .2s ease-in-out;
        font-size:3rem;
    }

    /*change nav dots to darkorange*/
    #fp-nav ul li a span{
        background: darkorange;
    }
 


    /*certification slides*/
    #certificates {
        width: 100%;
        height: auto;
        padding-left: 10%;
        padding-right: 10%;
        z-index: 0;
    }

    button {
        position: absolute;
        display: inline-block;
        background: none;
        border: none;
        z-index: 200;
        top: 50%;
        transform: translateY(-50%);
        padding: 1%;
        visibility: hidden;
    }

    button:focus {
        outline: none;
    }


    .slideButton .fas {
        position: absolute;
        color: black;
    }

    #leftArrow {
        padding-left: 10%;
        left: 1%;
        opacity: .3;
    }

    #rightArrow{
        padding-right: 13.75%;
        right: 1%;
        opacity: .3;
    }
    
}
@media only screen and (min-width:2300px){
    #certificates{
        padding-left:20%;
        padding-right:20%;
        
    }

    #leftArrow {
        padding-left: 20%;
        left: 1%;
        opacity: .3;
    }

    #rightArrow{
        padding-right: 22%;
        right: 1%;
        opacity: .3;
    }
}
@media only screen and (max-width:1024px){
    #fullPage{
        display:none;
    }
}