/*common css code for all pages*/
html, body{
    height:100%;
    width:100vw;
}
body
{
    background-color:#303030;
    font-family: 'poppins', sans-serif;
    color:whitesmoke;
    overflow-x:hidden;
    overflow-y:auto;
    position: relative;
}
.body{
    margin-top: 40px;
}
a:hover{
    text-decoration: none;
    color:white;
}