/*common css code for all pages*/
html, body{
    height:100%;
    width:100vw;
    overflow-x: hidden;
}
body
{
    background-color:#181818;
    font-family: 'poppins', sans-serif;
    color:whitesmoke;
    position: relative;
}

a:hover{
    text-decoration: none;
    color:white;
}